{
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module"
    },
    "env": {
        "node": true
    },
    "rules": {
        "no-unused-vars": [2, { "vars": "all", "args": "none" }],
        "quotes": [2, "single"],
        "no-use-before-define": 0
    }
}
